
  
  .cardimg{ 
    width: 50%; height: 150px;
    margin: auto;
    display: block;
    
}
  .divcard{
    
    padding-top:20px ;
    padding-left: 70px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin:40px 40px 40px 40px;

    
    display: flex;
    flex-wrap: wrap;
    align-content: center;

  }
  .card{
    padding-top:20px ;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin:40px 40px 40px 40px;
    align-content: center;
    text-align:center;
  }
 .off {
    text-align:center;
    padding-top: 70px;
    padding-right: 400px;
    padding-left:400px;
    margin-top: 30px;
  
    
    font-weight: bold;
 }